{% load static %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed&display=swap" rel="stylesheet">

  <style>

    @font-face {
        font-family: 'MorfinSans';
        src: url('/static/fonts/ofont.ru_MorfinSans.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    html {

    }

    body{
        margin: 0;
        padding: 0;
        zoom: 80%
    }
    @media (min-width: 1920px) {
        body {
            zoom: 100%;
        }
    }
    .header{
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
        width: 100%;
        height: 120px;
        background: #FFF;
        font-family: Fira Sans Condensed, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        position: sticky;
        top: 0;
        z-index: 10;
    }
    .navbar{
        display: flex;
        margin-bottom:auto;
        margin-top: auto;
        margin-left: auto;
        margin-right: 0;
        height: 25px;
        width: 823px;
    }
    ul{
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        list-style-type: none;
    }
    ul li{
        margin-left: 30px;
    }
    .logo{
        margin-left: 111px;
        margin-top: auto;
        margin-bottom: auto;
    }

    a{
        color: black;
        text-decoration: none;
    }
    a:hover{
        cursor: pointer;
        color: var(--main-green-dark, #8B8D68);
        text-decoration-line: underline;
        transition: 0.5s;
    }
    footer{
        margin-bottom: 150px;
        margin-top: 150px;
        background-color: white;
        width: 100%;
        height: 165px;
        display: flex;
    }
    .footer_div{
        width: 75%;
    }
    .column {
        margin-top: 10px;
    }

    .column strong {
        display: block;
        margin-bottom: 14px;
        color: #000;
        text-align: right;
        font-family: MorfinSans,sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 94.5%; /* 26.46px */
    }

    .column a {
        display: block;
        margin-bottom: 10px;
        text-decoration: none;
        color: #000;
        text-align: right;
        font-family: Fira Sans Condensed,sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 108%; /* 17.28px */
    }
    .column a:hover{
        color: var(--main-green-dark, #8B8D68);
        transition: 0.5s;
    }
         /* Гамбургер-меню стили */
    #menu__toggle {
      opacity: 0;
    }

    #menu__toggle:checked + .menu__btn > span {
      transform: rotate(45deg);
    }

    #menu__toggle:checked + .menu__btn > span::before {
      top: 0;
      transform: rotate(0deg);
    }

    #menu__toggle:checked + .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menu__box {
      right: 0 !important; /* Изменение с 'left' на 'right' */
    }

    .menu__btn {
      display: none; /* Сначала скрыть кнопку гамбургера */
      position: fixed;
      top: 60px;
      right: 60px; /* Изменение с 'left' на 'right' */
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 10;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #616161;
      transition-duration: .25s;
    }

    .menu__btn > span::before {
      content: '';
      top: -8px;
    }

    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    .second-column{
        font-size: 16px;
    }

    .menu__box {
      display: block;
      position: fixed;
      top: 0;
      right: -100%; /* Изменение с 'left' на 'right' */
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #fff;
      box-shadow: -2px 2px 6px rgba(0, 0, 0, .4); /* Изменение с '2px' на '-2px' */
      transition-duration: .25s;
      z-index: 5; /* Чтобы гамбургер-меню был над основным контентом */
    }

    .menu__item {
      display: block;
      padding: 12px 24px;
      color: #333;
      font-family: Fira Sans Condensed, sans-serif;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
      transition-duration: .25s;
    }

    .menu__item:hover {
      background-color: #CFD8DC;
    }

    @media (max-width: 1250px) {
        .footer_div{
            width: auto;
        }

    }
    /* Медиа-запросы */
    @media (max-width: 1000px) {
        .navbar > ul {
            display: none; /* Скрываем основное меню на маленьких экранах */
        }

        .menu__btn {
            display: block; /* Показываем кнопку гамбургера на маленьких экранах */
        }
        .header{
            zoom:150%
        }
        footer img{
            display: none;
        }
        footer{
            zoom:150%
        }
        .footer_div{
            width: 85%;
        }
        .column a{
            width: auto;
            font-size: 18px;
        }
        .column strong{
            font-size: 30px;
        }

        .second-column{
            font-size: 18px;
        }
        .contact{
            zoom:150%
        }
        .position{
            zoom: 150%;
        }
        .no-zoom{
            zoom:100%
        }

    }


    @media (min-width: 1001px) {
        .hamburger-menu {
            display: none; /* Скрываем гамбургер-меню на больших экранах */
        }

    }

    .contact-us, .contact-coordinate{
        margin-top: 50px;
        color: #000;
        font-family: MorfinSans,sans-serif;
        font-size: 64px;
        font-style: normal;
        line-height: 100%;
        font-weight: 400;
    }
    .contact-coordinate{
        margin-top: 100px;
    }
    .contact{
        color: #000;
        font-family: Fira Sans Condensed,sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        min-width: 220px;
    }

    .position{
        font-weight: 600;
    }
    .name, .tel, .email{
        margin-top: 5px;
    }
    .many-contact{
        margin-left: auto;
        margin-right: auto;
        max-width: 1380px;
        margin-top: 50px;
        display: flex;
        gap: 100px;
        flex-wrap: wrap;

    }
    .about-us-text{
        color: #000;
        font-family: MorfinSans,sans-serif;
        font-size: 64px;
        font-style: normal;
        line-height: 100%;
        width: 500px;
        font-weight: 400;
    }
    .line{
        margin: 0;
        margin-left: auto;
        margin-right: auto;

        max-width: 1380px;
        background: var(--main-grey-dark, #595959);
    }
    iframe{
        max-width: 1380px;
        margin-right: auto;
        margin-left: auto;
    }
    .directly-persons{
        font-family: Fira Sans Condensed,sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
    }
    .directly-persons li{
        margin-top: 10px;
    }


</style>

<title>Контакты</title>
<div class="header" style="display: flex;">
    <div class="logo">
        <a href="{% url 'login' %}"><img src="{% static 'Logo_original.svg' %}"></a>
    </div>
    <div class="navbar">
        <ul>
            <li>
                <div class="main">
                    <a href="{% url 'login' %}" >Главная</a>
                </div>
            </li>
            <li>
                <div class="about-us">
                    <a href="{% url 'about_us' %}">О нас</a>
                </div>
            </li>
            <li>
                <div class="production">
                    <a href="{% url 'market' %}">Продукция</a>
                </div>
            </li>
            <li>
                <div class="our-farm">
                    <a href="{% url 'farm' %}">Наши хозяйства</a>
                </div>
            </li>
            <li>
                <div class="invite">
                    <a href="{% url 'join'%}">Вступить</a>
                </div>
            </li>
            <li>
                <div class="contacts">
                    <a href="{% url 'contacts'%}" style="color: var(--main-green-dark, #8B8D68); text-decoration-line: underline;">Контакты</a>
                </div>
            </li>
        </ul>
        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
              <span style="margin-top: 10px;"></span>
            </label>
            <ul class="menu__box">
                <li><a class="menu__item" href="{% url 'login' %}" >Главная</a></li>
                <li><a class="menu__item" href="{% url 'about_us' %}">О нас</a></li>
                <li><a class="menu__item" href="{% url 'market' %}">Продукция</a></li>
                <li><a class="menu__item" href="{% url 'farm' %}">Наши хозяйства</a></li>
                <li><a class="menu__item" href="{% url 'join'%}">Вступить</a></li>
                <li><a class="menu__item" href="{% url 'contacts'%}" style="color: var(--main-green-dark, #8B8D68); text-decoration-line: underline;">Контакты</a></li>
            </ul>
        </div>
    </div>
</div>
<div style="margin-left: auto; margin-right: auto; width: 75%">
    <hr class="line" style="margin-bottom: 8px; margin-top: 100px">
    <div style="display: flex; justify-content: space-between; margin-left: auto; margin-right: auto;max-width: 1380px;">
        <div class="about-us-text">Свяжитесь с нами!</div>
    </div>
    <hr class="line" style="margin-bottom: 8px">
    <div class="many-contact">
        <div class="contact">
            <div class="position">Президент НАЗГС</div>
            <div class="name">Феклин Иван Евгеньевич</div>
            <div class="tel">+7 (912) 800-010</div>
            <a href="mailto:" class="email"></a>
        </div>
        <div class="contact">
            <div class="position">Вице-Президент НАЗГС</div>
            <div class="name">Инзелис Юрий Эдуардович</div>
            <div class="tel">+7 (922) 711-93-30</div>
            <a href="mailto:agrotex.ooo@mail.ru" class="email">agrotex.ooo@mail.ru</a>
        </div>
        <div class="contact">
            <div class="position">Генеральный директор НАЗГС</div>
            <div class="name">Дубовскова Марина Павловна<br><i>доктор сельскохозяйственных наук</i></div>
            <div href= class="tel">+7 (922) 621-61-78</div>
            <a href="mailto:nazgsr@mail.ru" class="email">nazgsr@mail.ru</a>
        </div>
        <div class="contact">
            <div class="position">Ведущий специалист по науке,<br> селекции и технологической политике</div>
            <div class="name">Колпаков Владимир Иванович<br><i>кандидат сельскохозяйственных наук</i></div>
            <div class="tel">+7 (987) 341 77-02</div>
            <a href="mailto:nazgsr@mail.ru" class="email">nazgsr@mail.ru</a>
        </div>
    </div>
    <hr class="line" style="margin-bottom: 8px; margin-top: 100px">
    <div style="display: flex; justify-content: space-between; margin-left: auto; margin-right: auto;max-width: 1380px;">
        <div class="about-us-text">Наши координаты</div>
    </div>
    <hr class="line" style="margin-bottom: 8px">
    <div class="position no-zoom" style="font-family: Fira Sans Condensed,sans-serif; font-size: 20px; margin-top: 30px; max-width: 1380px; margin-left: auto; margin-right: auto">ул. 9 Января, 29, Оренбург, Оренбургская обл., 460000</div>
    <script style="max-width: 1380px;margin-right: auto;margin-left: auto;" type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa96771f8ca27b7748a54479c00930d3b5fbab91d622cf5191e3cbe1b0a4fe775&amp;&amp;height=530&amp;lang=ru_RU&amp;scroll=true"></script>
    <hr class="line" style="margin-bottom: 8px; margin-top: 100px">
        <div style="display: flex; justify-content: space-between; margin-left: auto; margin-right: auto;max-width: 1380px;">
            <div class="about-us-text">Совет директоров</div>
        </div>
    <hr class="line" style="margin-bottom: 8px">
    <div class="directly-persons" style="margin-left: auto; margin-right: auto; max-width: 1380px">
        <ol>
            <li>Амерханов Харон Адиевич – директор Департамента животноводства и племенного дела Министерства сельского хозяйства Российской Федерации.</li>
            <li>Феклин Иван Евгеньевич – президент НАЗГС, председатель Совета директоров НАЗГС.</li>
            <li>Инзелис Юрий Эдуардович – вице-президент НАЗГС, генеральный директор ООО «Энергия».</li>
            <li>Дубовскова Марина Павловна – генеральный директор НАЗГС, доктор сельскохозяйственных наук ФГБНУ ФНЦ БСТ РАН.</li>
            <li>Мирошников Сергей Александрович – директор ФГБНУ ФНЦ БСТ РАН, член-корреспондент РАН.</li>
            <li>Моисеев Станислав Иванович – директор ООО «Экспериментальное», Оренбургской области.</li>
            <li>Гребенщикова Евдокия Васильевна – директор ООО «Варшавское», Челябинской области.</li>
            <li>Завгородний Дмитрий Федорович – заведующий опорным пунктом ВНИИМС по Челябинской области.</li>
            <li>Плешаков Владимир Александрович – директор ООО «Ассоциация МяСПлем Алтая», Алтайского края.</li>
            <li>Жадан Виктор Иванович – генеральный директор ОАО «Белокопанское», Ставропольского края.</li>
            <li>Синицын Всеволод Сергеевич – глава КФХ «Синицын В.С.», Томской области.</li>
            <li>Гаврилов Леонид Евгеньевич – учредитель КФХ «Кириллов В.В.» Астраханской области.</li>
        </ol>

    </div>
</div>



<footer>
        <div class="footer_div" style="margin-left: auto; margin-right: auto; display: flex; justify-content: space-between; max-width: 1380px;">
            <img src="{% static 'fulllogo.svg' %}" style="margin-right: 100px">

            <div class="footer-info" style="width: 653px; height: 138px; display: flex; justify-content: space-between">
                <!-- Колонка Продукция -->
                <div class="column" style="width: 158px; height: 111px">
                    <strong>Продукция</strong>
                    <a href="{% url 'market' %}?product_type=1">Племенные животные</a>
                    <a href="{% url 'market' %}?product_type=2">Товарное стадо</a>
                    <a href="{% url 'market' %}?product_type=3">Продукты переработки</a>
                </div>

                <!-- Колонка Компания -->
                <div class="column" style="margin-left: 100px; width: 109px; height: 138px">
                    <strong>Компания</strong>
                    <a href="{% url 'about_us' %}">О нас</a>
                    <a href="{% url 'farm' %}">Наши хозяйства</a>
                    <a href="{% url 'join' %}">Вступить</a>
                    <a href="{% url 'contacts' %}">Контакты</a>
                </div>

                <!-- Колонка Контакты -->
                <div class="column second-column" style="margin-left: 100px; width: 186px; height: 118px; color: #000; text-align: right; font-family: Fira Sans Condensed,sans-serif;font-style: normal; font-weight: 400; line-height: 108%;">
                    <strong>Контакты</strong>
                    <div align="right" style="width: 186px; ">Национальная ассоциация заводчиков герефордского скота</div>
                    <div align="right" style="margin-top: 10px; ">ул. 9 Января, 29, Оренбург</div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}