{% load static %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed&display=swap" rel="stylesheet">

  <style>

    @font-face {
        font-family: 'MorfinSans';
        src: url('/static/fonts/ofont.ru_MorfinSans.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    html {
	  background: linear-gradient(90deg, #b9deed, #efefef);
    }

    body{
        margin: 0;
        padding: 0;
        zoom: 80%
    }
    @media (min-width: 1920px) {
        body {
            zoom: 140%;
        }
    }
    .header{
        width: 100%;
        height: 120px;
        background: #FFF;
        font-family: Fira Sans Condensed, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        position: sticky;
        top: 0;
        z-index: 10;
    }
    .navbar{
        margin-bottom:auto;
        margin-top: auto;
        margin-left: auto;
        margin-right: 0;
        height: 25px;
        width: 823px;
    }
    ul{
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        list-style-type: none;
    }
    ul li{
        margin-left: 30px;
    }
    .logo{
        margin-left: 111px;
        margin-top: auto;
        margin-bottom: auto;
    }

    a{
        color: black;
        text-decoration: none;
    }
    a:hover{
        cursor: pointer;
        color: var(--main-green-dark, #8B8D68);
        text-decoration-line: underline;
        transition: 0.5s;
    }
    footer{
        margin-bottom: 150px;
        margin-top: 150px;
        background-color: white;
        width: 100%;
        height: 165px;
        display: flex;
    }
    .column {
        flex: 1;
        margin-top: 10px;
    }

    .column strong {
        display: block;
        margin-bottom: 14px;
        color: #000;
        text-align: right;
        font-family: MorfinSans,sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 94.5%; /* 26.46px */
    }

    .column a {
        display: block;
        margin-bottom: 10px;
        text-decoration: none;
        color: #000;
        text-align: right;
        font-family: Fira Sans Condensed,sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 108%; /* 17.28px */
    }
    .column a:hover{
        color: var(--main-green-dark, #8B8D68);
        transition: 0.5s;
    }
         /* Гамбургер-меню стили */
    #menu__toggle {
      opacity: 0;
    }

    #menu__toggle:checked + .menu__btn > span {
      transform: rotate(45deg);
    }

    #menu__toggle:checked + .menu__btn > span::before {
      top: 0;
      transform: rotate(0deg);
    }

    #menu__toggle:checked + .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menu__box {
      right: 0 !important; /* Изменение с 'left' на 'right' */
    }

    .menu__btn {
      display: none; /* Сначала скрыть кнопку гамбургера */
      position: fixed;
      top: 60px;
      right: 20px; /* Изменение с 'left' на 'right' */
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 10;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #616161;
      transition-duration: .25s;
    }

    .menu__btn > span::before {
      content: '';
      top: -8px;
    }

    .menu__btn > span::after {
      content: '';
      top: 8px;
    }

    .menu__box {
      display: block;
      position: fixed;
      top: 0;
      right: -100%; /* Изменение с 'left' на 'right' */
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #fff;
      box-shadow: -2px 2px 6px rgba(0, 0, 0, .4); /* Изменение с '2px' на '-2px' */
      transition-duration: .25s;
      z-index: 5; /* Чтобы гамбургер-меню был над основным контентом */
    }

    .menu__item {
      display: block;
      padding: 12px 24px;
      color: #333;
      font-family: Fira Sans Condensed, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
      transition-duration: .25s;
    }

    .menu__item:hover {
      background-color: #CFD8DC;
    }

    /* Медиа-запросы */
    @media (max-width: 1000px) {
        .navbar > ul {
            display: none; /* Скрываем основное меню на маленьких экранах */
        }

        .menu__btn {
            display: block; /* Показываем кнопку гамбургера на маленьких экранах */
        }
    }

    @media (min-width: 1001px) {
        .hamburger-menu {
            display: none; /* Скрываем гамбургер-меню на больших экранах */
        }
    }
</style>

    <title>Вступить</title>
    <div class="header" style="display: flex">
        <div class="logo">
                <img src="{% static 'Logo.svg' %}">
        </div>
        <div class="navbar">
            <ul>
                <li>
                    <div class="main">
                        <a href="{% url 'login' %}" >Главная</a>
                    </div>
                </li>
                <li>
                    <div class="about-us">
                        <a href="{% url 'about_us' %}">О нас</a>
                    </div>
                </li>
                <li>
                    <div class="production">
                        <a href="{% url 'market' %}">Продукция</a>
                    </div>
                </li>
                <li>
                    <div class="our-farm">
                        <a href="{% url 'farm' %}">Наши хозяйства</a>
                    </div>
                </li>
                <li>
                    <div class="invite">
                        <a href="{% url 'join'%}" style="color: var(--main-green-dark, #8B8D68); text-decoration-line: underline;">Вступить</a>
                    </div>
                </li>
                <li>
                    <div class="contacts">
                        <a href="{% url 'contacts'%}">Контакты</a>
                    </div>
                </li>
            </ul>
            <div class="hamburger-menu">
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle">
                  <span></span>
                </label>
                <ul class="menu__box">
                    <li><a class="menu__item" href="{% url 'login' %}" >Главная</a></li>
                    <li><a class="menu__item" href="{% url 'about_us' %}">О нас</a></li>
                    <li><a class="menu__item" href="{% url 'market' %}">Продукция</a></li>
                    <li><a class="menu__item" href="{% url 'farm' %}">Наши хозяйства</a></li>
                    <li><a class="menu__item" href="{% url 'join'%}" style="color: var(--main-green-dark, #8B8D68); text-decoration-line: underline;">Вступить</a></li>
                    <li><a class="menu__item" href="{% url 'contacts'%}">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>

    <footer>
        <div style="width: 75%; margin-left: auto; margin-right: auto; display: flex; justify-content: space-between">
            <img src="{% static 'fulllogo.svg' %}">

            <div class="footer-info" style="width: 700px; height: 165px; display: flex; justify-content: space-between">
                <!-- Колонка Продукция -->
                <div class="column">
                    <strong>Продукция</strong>
                    <a href="#">Племенные животные</a>
                    <a href="#">Товарное стадо</a>
                    <a href="#">Продукты переработки</a>
                </div>

                <!-- Колонка Компания -->
                <div class="column" style="margin-left: 100px">
                    <strong>Компания</strong>
                    <a href="{% url 'about_us' %}">О нас</a>
                    <a href="{% url 'farm' %}">Наши хозяйства</a>
                    <a href="{% url 'join' %}">Вступить</a>
                    <a href="{% url 'contacts' %}">Контакты</a>
                </div>

                <!-- Колонка Контакты -->
                <div class="column" style="margin-left: 100px">
                    <strong>Контакты</strong>
                    <div align="right" style="width: 186px">Национальная ассоциация заводчиков герефордского скота</div>
                    <div align="right" style="margin-top: 10px">ул. 9 Января, 29, Оренбург</div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}