{% load static %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed&display=swap" rel="stylesheet">

  <style>

    @font-face {
        font-family: 'MorfinSans';
        src: url('/static/fonts/ofont.ru_MorfinSans.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    html {
	  /*background: linear-gradient(90deg, #b9deed, #efefef);*/
    }
    body{
        margin: 0;
        padding: 0;
        zoom: 80%
    }
    @media (min-width: 1920px) {
        body {
            zoom: 140%;
        }
    }


    .header{
        width: 100%;
        height: 120px;
        background: #FFF;
        font-family: Fira Sans Condensed, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        position: sticky;
        top: 0;
        z-index: 10;
    }
    .navbar{
        display: flex;
        margin-bottom:auto;
        margin-top: auto;
        margin-left: auto;
        margin-right: 0;
        height: 25px;
        width: 823px;
    }
    ul{
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        list-style-type: none;
    }
    ul li{
        margin-left: 30px;
    }
    .logo{
        margin-left: 111px;
        margin-top: auto;
        margin-bottom: auto;
    }
    a{
        color: black;
        text-decoration: none;
    }
    a:hover{
        cursor: pointer;
        color: var(--main-green-dark, #8B8D68);
        text-decoration-line: underline;
        transition: 0.5s;
    }

    .main-bg{
        display: flex;
        height: 840px;
        width: 100%;
        background-color: #1b1b1b;
    }
    .main-bg-text{
        color: var(--main-white, #FFF);
        font-family: MorfinSans,sans-serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: 91%;
        width: 790px;
        height: 161.7px;
        padding-top: 615px;
        padding-left: 110px;
    }
    .main-bg-link{
        margin-top: auto;
        margin-bottom: 63px;
        cursor: pointer;
        margin-left: auto;
        margin-right: 63px;
        width: 210px;
        height: 17.85px;
        flex-shrink: 0;
        color: var(--main-white, #FFF);
        text-align: center;
        font-family: Fira Sans Condensed,sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
    }
    .main-bg-link:hover{
        color: var(--main-green-dark, #8B8D68);
        text-decoration-line: underline;
        transition: 0.5s;
    }
    .about-us-trust{
        height: 1200px;
        width: 100%;
        background-color: #fff;
        /*min-width: 1380px;*/
    }
    .line{
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        max-width: 1380px;
        background: var(--main-grey-dark, #595959);
    }
    .about-us-block{
        padding-top: 150px;
        height: 80px;
    }
    .about-us-text{
        color: #000;
        font-family: MorfinSans,sans-serif;
        font-size: 64px;
        font-style: normal;
        line-height: 100%;
        width: 146px;
        font-weight: 400;
    }
    .about-us-link{
        width: 155px;
        height: 22px;
        cursor: pointer;
        color: var(--main-grey-dark, #595959);
        text-align: right;
        font-family: Fira Sans Condensed,sans-serif;
        font-size: 20px;
        font-style: normal;
        text-decoration-line: underline;
        margin-bottom: auto;
        margin-top: auto;
    }
    .about-us-link:hover{
        cursor: pointer;
        color: var(--main-green-dark, #8B8D68);
        text-decoration-line: underline;
        transition: 0.5s;
    }
    .other-text{
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        max-width: 1380px;
    }
    .other-text1{
        margin-right: 20px;
        width: 680px;
        height: 176px;
        color: #000;
        text-align: justify;
        font-family: Fira Sans Condensed,sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 108%;
    }
    .other-text2{
        width: 680px;
        height: 154px;
        color: #000;
        text-align: justify;
        font-family: Fira Sans Condensed,sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 108%;
    }
    .trust{
        width: 75%;
        max-width: 1380px;
        margin-top: 100px;
        margin-right: auto;
        margin-left: auto;
        height: 44px;
        color: #000;
        text-align: justify;
        font-family: Fira Sans Condensed, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 108%;
    }
    .trust-text{
        margin-top: 35px;
        width: 230px;
        height: 56px;
        color: #000;
        font-family: MorfinSans,sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
    }
    .trust-text-lower{
        width: 230px;
        height: 40px;
        color: #000;
        font-family: Fira Sans Condensed,sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 100%;
    }
    .us-bull{
        height: 1250px;
        width: 100%;
        background-color: #fff;
        /*min-width: 1380px;*/
    }
    .second-photo-text, .third-photo-text, .first-photo-text{
        margin-top: 8px;
        width: 420px;
        color: #000;
        font-family: MorfinSans,sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 108%;
    }
    .news{
        height: 510px;
        width: 100%;
        background-color: #fff;
        /*min-width: 1380px;*/
    }
    .invite-to-association{
        background-color: white;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        height: 550px;
    }
    .association-text{
        margin-top: 100px;
        width: 580px;
        margin-left: auto;
        margin-right: auto;
        color: #000;
        leading-trim: both;
        text-edge: cap;
        font-family: MorfinSans,sans-serif;
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 64px */
    }
    .sub-association-text{
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
        color: #000;
        text-align: center;
        font-family: Fira Sans Condensed,sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 108%; /* 21.6px */
        max-width: 920px;
    }
    .custom-button {
        display: inline-block;
        background-color: black;
        color: var(--main-white, #FFF);
        text-align: center;
        font-family: 'Fira Sans Condensed', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 108%; /* 21.6px */
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        transition: 0.3s;
    }

    .custom-button:hover {
        opacity: 0.8;
    }

    .details-button {
        width: 360px;
        height: 80px;
    }

    .apply-button {
        width: 520px;
        height: 80px;
    }
    .trust-plus {
        display: flex;
        justify-content: space-between;
        width: 75%;
        max-width: 1380px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 37px;
        flex-wrap: wrap; /* Это свойство позволяет элементам переноситься на следующую строку при необходимости */
    }

    @media (max-width: 768px) { /* Этот медиа запрос срабатывает, когда ширина экрана уменьшается до 768px или меньше */
        .trust1 {
            width: 100%; /* Это заставит каждый блок .trust1 занимать всю ширину родительского элемента */
            margin-bottom: 20px; /* Добавляет немного отступа снизу для разделения блоков */
        }
    }
        /* Медиа-запрос для экранов шириной меньше 1000px */
    @media (max-width: 1000px) {
        .pointer-about {
            /* Настройте следующие свойства так, чтобы подогнать `pointer-about` под уменьшенный экран. Это могут быть изменения в margin, position, transform или другие свойства в зависимости от желаемого поведения. */
            margin-left: 40px; /* Пример */
            /* другие стили для адаптации */
        }
    }
    footer{
        margin-bottom: 150px;
        margin-top: 150px;
        background-color: white;
        width: 100%;
        height: 165px;
        display: flex;
    }
    .column {
        flex: 1;
        margin-top: 10px;
    }

    .column strong {
        display: block;
        margin-bottom: 14px;
        color: #000;
        text-align: right;
        font-family: MorfinSans,sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 94.5%; /* 26.46px */
    }

    .column a {
        display: block;
        margin-bottom: 10px;
        text-decoration: none;
        color: #000;
        text-align: right;
        font-family: Fira Sans Condensed,sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 108%; /* 17.28px */
    }
    .column a:hover{
        color: var(--main-green-dark, #8B8D68);
        transition: 0.5s;
    }
        /* Стили для гамбургера */
    .hamburger {
        display: none;
        flex-direction: column;
        cursor: pointer;
    }

    .hamburger div {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 2px;
    }

    /* Медиа-запрос для экранов меньше 1000px */
    @media screen and (max-width: 1000px) {
        .navbar {
            display: none; /* Сначала скройте меню */
            flex-direction: column;
            position: absolute;
            top: 120px; /* Высота вашего header */
            right: 0;
            background-color: #FFF;
            width: 200px; /* или нужную вам ширину */
        }

        .hamburger {
            display: flex;
        }
    }






  </style>

    <title>Национальная ассоциация заводчиков герефордского скота</title>
    <div class="header" style="display: flex" >
        <div class="logo">
                <img src="{% static 'Logo.svg' %}">
        </div>
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="navbar">
            <ul>
                <li>
                    <div class="main">
                        <a href="{% url 'login' %}" style="color: var(--main-green-dark, #8B8D68); text-decoration-line: underline;">Главная</a>
                    </div>
                </li>
                <li>
                    <div class="about-us">
                        <a href="{% url 'about_us' %}">О нас</a>
                    </div>
                </li>
                <li>
                    <div class="production">
                        <a href="{% url 'market' %}">Продукция</a>
                    </div>
                </li>
                <li>
                    <div class="our-farm">
                        <a href="{% url 'farm' %}">Наши хозяйства</a>
                    </div>
                </li>
                <li>
                    <div class="invite">
                        <a href="{% url 'join'%}">Вступить</a>
                    </div>
                </li>
                <li>
                    <div class="contacts">
                        <a href="{% url 'contacts'%}">Контакты</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-bg">
        <div class="main-bg-text">Национальная ассоциация заводчиков герефордовского скота</div>
        <div class="main-bg-link">Узнать больше о нас</div>
    </div>
    <div class="about-us-trust">
        <div class="about-us-block">
            <hr class="line" style="margin-bottom: 8px">
            <div style="display: flex; justify-content: space-between; margin-left: auto; margin-right: auto;width: 75%;max-width: 1380px;">
                <div class="about-us-text">О НАС</div>
                <div class="about-us-link"><a href="{% url 'about_us' %}">Читать подробнее</a></div>
            </div>
            <hr class="line" style="margin-top:8px">
        </div>
        <div class="other-text" style="display: flex; justify-content: center; margin-top: 100px;">
            <div class="other-text1">
                3 декабря 2009 года была проведена организационная конференция по созданию Национальной Ассоциации заводчиков Герефордского скота, цели и задачи которой определены Уставом Ассоциации, ходе которой, был избран президент - Феклин Иван Евгеньевич, так же утвержден совет директоров и избран генеральный директор. Эта ассоциация является первой, объединяющей заводчиков определённой породы скота в мясном скотоводстве. Функцию таких ассоциаций раньше выполняли советы по породе, которые не работают уже около 18 лет.
            </div>
            <div class="other-text2">
                Ассоциация выполняет функцию активизации рынка племенных герефордов, обеспечение постоянного обмена опытом и информацией среди заводчиков скота, а также увеличение производства высококачественной говядины в товарных хозяйствах. Тесное сотрудничество Ассоциации герефордов и Селекционного центра ФГБНУ ФНЦ БСТ РАН позволяет более эффективно внедрять богатый научный опыт по разведению, технологии содержания, селекции и генетики.
            </div>
        </div>
        <div class="about-us-block">
            <hr class="line" style="margin-bottom: 8px">
            <div style="display: flex; justify-content: center; margin-left: auto; margin-right: auto;width: 75%;max-width: 1380px;">
                <div class="about-us-text" style="width: 538px;margin-left: 0;margin-right: auto;">Почему нам доверяют</div>
            </div>
            <hr class="line" style="margin-top:8px">
        </div>
        <div class="trust">
            Lorem ipsum dolor sit amet consectetur. Accumsan diam sed eget ac elementum mauris a ultrices. Velit faucibus mattis scelerisque felis nisl fames donec amet. Leo enim urna sed nisi lacus ac risus. Tellus enim felis ullamcorper nisi eu sit. Vitae iaculis sagittis tortor porttitor.
        </div>

        <div class="trust-plus" style="display: flex; justify-content: space-between; width: 75%; max-width: 1380px; margin-left: auto; margin-right: auto; margin-top: 37px">
            <div class="trust1" style="display: flex">
                <img src="{% static 'kolos.svg' %}">
                <div>
                    <div class="trust-text">
                        lorem ipsum dolor sit amet
                    </div>
                    <div class="trust-text-lower">
                        lorem ipsum dolor sit amet consectetur orci sed varius
                    </div>
                </div>
            </div>
            <div class="trust1" style="display: flex">
                <img src="{% static 'kolos.svg' %}">
                <div>
                    <div class="trust-text">
                        lorem ipsum dolor sit amet
                    </div>
                    <div class="trust-text-lower">
                        lorem ipsum dolor sit amet consectetur orci sed varius
                    </div>
                </div>
            </div>
            <div class="trust1" style="display: flex">
                <img src="{% static 'kolos.svg' %}">
                <div>
                    <div class="trust-text">
                        lorem ipsum dolor sit amet
                    </div>
                    <div class="trust-text-lower">
                        lorem ipsum dolor sit amet consectetur orci sed varius
                    </div>
                </div>
            </div>
            <div class="trust1" style="display: flex">
                <img src="{% static 'kolos.svg' %}">
                <div>
                    <div class="trust-text">
                        lorem ipsum dolor sit amet
                    </div>
                    <div class="trust-text-lower">
                        lorem ipsum dolor sit amet consectetur orci sed varius
                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="us-bull">
        <div class="about-us-block" style="padding-top: 0">
            <hr class="line" style="margin-bottom: 8px">
            <div style="display: flex; justify-content: space-between; margin-left: auto; margin-right: auto;width: 75%;max-width: 1380px;">
                <div class="about-us-text" style="width: 256px">наши бычки</div>
                <div class="about-us-link" style="width: 237px"><a href="{% url 'market' %}">Посмотреть всю продукцию</a></div>
            </div>
            <hr class="line" style="margin-top:8px">
        </div>
        <div class="trust">
            Lorem ipsum dolor sit amet consectetur. Accumsan diam sed eget ac elementum mauris a ultrices. Velit faucibus mattis scelerisque felis nisl fames donec amet. Leo enim urna sed nisi lacus ac risus. Tellus enim felis ullamcorper nisi eu sit. Vitae iaculis sagittis tortor porttitor.
        </div>
        <div class="bull-photo" style="display: flex; height: 810px; max-width: 1377px; margin-left: auto; margin-right: auto; margin-top: 50px">
            <div class="first-photo" style="height: 800px; width: 614px; background-image: url('{% static "first.png" %}')">
                <div class="first-photo-text" style="color: white; margin-left: 22px;margin-top: 715px;margin-bottom: auto;">Lorem ipsum dolor sit amet consectetur.</div>
            </div>
            <hr style="height: 800px; width: 0; background-color:#595959; margin: 0;margin-left: 40px; margin-right: 40px">
            <div class="double-photo" style="height: 800px; width: 500px; ">
                <div class="second-photo" style="width: 500px;height: 320px">
                    <img src="{% static 'second.png' %}" style="width: 500px;height: 320px">
                </div>
                <div class="second-photo-text">Lorem ipsum dolor sit amet consectetur. </div>
                <div class="third-photo" style="width: 500px;height: 320px; margin-top: 13px">
                    <img src="{% static 'third.png' %}" style="width: 500px;height: 320px">
                </div>
                <div class="third-photo-text">Lorem ipsum dolor sit amet consectetur. </div>
            </div>
            <div class="pointer-about" style="margin-left: 84px">
                <a href="{% url 'market' %}"><img src="{% static 'pointer.svg'%}"></a>
            </div>

        </div>
    </div>
    <div class="news">
         <div class="about-us-block" style="padding-top: 0">
            <hr class="line" style="margin-bottom: 8px">
            <div style="display: flex; justify-content: space-between; margin-left: auto; margin-right: auto;width: 75%;max-width: 1380px;">
                <div class="about-us-text" style="width: 256px">НОВОСТИ</div>
                <div class="about-us-link" style="width: 277px"><a href="#">Узнать больше о новостях НАЗГС</a></div>
            </div>
            <hr class="line" style="margin-top:8px">
        </div>
    </div>

    <div class="invite-to-association">
        <hr class="line" style="">
        <div class="association-text">вступить в ассоциацию</div>
        <div class="sub-association-text">Lorem ipsum dolor sit amet consectetur. Accumsan diam sed eget ac elementum mauris a ultrices. Velit faucibus mattis scelerisque felis nisl fames donec amet. Leo enim urna sed nisi lacus ac risus.</div>
        <div style="margin-top:88px;margin-left: auto;margin-right: auto; width: 910px; justify-content: space-between; display: flex">
            <button class="custom-button details-button">Узнать подробнее</button>
            <button class="custom-button apply-button">Подать заявку на членство сейчас</button>
        </div>
        <hr class="line" style="margin-top:120px">
    </div>
    <footer>
        <div style="width: 75%; margin-left: auto; margin-right: auto; display: flex; justify-content: space-between">
            <img src="{% static 'fulllogo.svg' %}">

            <div class="footer-info" style="width: 700px; height: 165px; display: flex; justify-content: space-between">
                <!-- Колонка Продукция -->
                <div class="column">
                    <strong>Продукция</strong>
                    <a href="#">Племенные животные</a>
                    <a href="#">Товарное стадо</a>
                    <a href="#">Продукты переработки</a>
                </div>

                <!-- Колонка Компания -->
                <div class="column" style="margin-left: 100px">
                    <strong>Компания</strong>
                    <a href="{% url 'about_us' %}">О нас</a>
                    <a href="{% url 'farm' %}">Наши хозяйства</a>
                    <a href="{% url 'join' %}">Вступить</a>
                    <a href="{% url 'contacts' %}">Контакты</a>
                </div>

                <!-- Колонка Контакты -->
                <div class="column" style="margin-left: 100px">
                    <strong>Контакты</strong>
                    <div align="right" style="width: 186px">Национальная ассоциация заводчиков герефордского скота</div>
                    <div align="right" style="margin-top: 10px">ул. 9 Января, 29, Оренбург</div>
                </div>
            </div>
        </div>
    </footer>



<script>
    document.querySelector(".hamburger").addEventListener("click", function() {
    const navbar = document.querySelector(".navbar");
    if (navbar.style.display === "none" || navbar.style.display === "") {
        navbar.style.display = "flex";
    } else {
        navbar.style.display = "none";
    }
});

</script>



{% endblock %}
