{% load static %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed&display=swap" rel="stylesheet">

  <style>

    @font-face {
        font-family: 'MorfinSans';
        src: url('/static/fonts/ofont.ru_MorfinSans.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    html {
	  /*background: linear-gradient(90deg, #b9deed, #efefef);*/
    }
    body{
        margin: 0;
        padding: 0;
        zoom: 80%
    }
    @media (min-width: 1920px) {
        body {
            zoom: 140%;
        }
    }

    .header{
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
        width: 100%;
        height: 120px;
        background: #FFF;
        font-family: Fira Sans Condensed, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        position: sticky;
        top: 0;
        z-index: 10;
    }
    .navbar{
        display: flex;
        margin-bottom:auto;
        margin-top: auto;
        margin-left: auto;
        margin-right: 0;
        height: 25px;
        width: 823px;
    }
    ul{
        margin: 0;
        width: 100%;
        height: 100%;
        display: flex;
        list-style-type: none;
    }
    ul li{
        margin-left: 30px;
    }
    .logo{
        margin-left: 111px;
        margin-top: auto;
        margin-bottom: auto;
    }

    a{
        color: black;
        text-decoration: none;
    }
    a:hover{
        cursor: pointer;
        color: var(--main-green-dark, #8B8D68);
        text-decoration-line: underline;
        transition: 0.5s;
    }
    .filter-section {
        margin-bottom: 15px;
    }

    .btn-group {
        display: flex;
        flex-wrap: wrap;
    }

    .filter-btn {
        background-color: #f1f1f1;
        border: 1px solid #d4d4d4;
        padding: 10px 24px;
        cursor: pointer;
        margin-right: 5px;
    }

    .filter-btn.selected {
        background-color: #2196F3;
        color: white;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .filter-button {
        /* Стили для кнопок-фильтров */
        padding: 10px 15px;
        border: 1px solid #ccc;
        background-color: #f5f5f5;
        margin: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .filter-button:hover{
        transition: 0.3s;
        background-color: #8B8D68;
        color: #fff;
    }
    .button-red{
        color: white;
        background-color: #8B8D68;
    }
    .filter-button.selected {
        /* Стиль для активной кнопки */
        background-color: #8B8D68;
        color: #fff;
    }
    .forma-filter{
        font-family: 'Fira Sans Condensed', sans-serif;
        max-width: 1224px;
        margin-top: 20px;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .flip-card {
        font-family: 'Fira Sans Condensed', sans-serif;
        background-color: transparent;
        perspective: 1000px;
        width: 300px;
        height: 400px;
        margin: 3px;
    }

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1); /* переместите тень сюда */
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    .flip-card-front {
        background-color: #FFFFFF;
        color: black;
        z-index: 2;
    }

    .flip-card-back {
        background-color: #FFFFFF;
        color: black;
        transform: rotateY(180deg);
        z-index: 1;
    }

    footer{
        margin-bottom: 150px;
        margin-top: 150px;
        background-color: white;
        width: 100%;
        height: 165px;
        display: flex;
    }
    .footer_div{
        width: 75%;
    }
    .column {

        margin-top: 10px;
    }

    .column strong {
        display: block;
        margin-bottom: 14px;
        color: #000;
        text-align: right;
        font-family: MorfinSans,sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 94.5%; /* 26.46px */
    }

    .column a {
        display: block;
        margin-bottom: 10px;
        text-decoration: none;
        color: #000;
        text-align: right;
        font-family: Fira Sans Condensed,sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 108%; /* 17.28px */
    }
    .column a:hover{
        color: var(--main-green-dark, #8B8D68);
        transition: 0.5s;
    }
         /* Гамбургер-меню стили */
    #menu__toggle {
      opacity: 0;
    }

    #menu__toggle:checked + .menu__btn > span {
      transform: rotate(45deg);
    }

    #menu__toggle:checked + .menu__btn > span::before {
      top: 0;
      transform: rotate(0deg);
    }

    #menu__toggle:checked + .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menu__box {
      right: 0 !important; /* Изменение с 'left' на 'right' */
    }

    .menu__btn {
      display: none; /* Сначала скрыть кнопку гамбургера */
      position: fixed;
      top: 60px;
      right: 60px; /* Изменение с 'left' на 'right' */
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 10;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #616161;
      transition-duration: .25s;
    }

    .menu__btn > span::before {
      content: '';
      top: -8px;
    }

    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    .products{
        max-width: 1224px;
        width: auto;
    }

    .menu__box {
      display: block;
      position: fixed;
      top: 0;
      right: -100%; /* Изменение с 'left' на 'right' */
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #fff;
      box-shadow: -2px 2px 6px rgba(0, 0, 0, .4); /* Изменение с '2px' на '-2px' */
      transition-duration: .25s;
      z-index: 5; /* Чтобы гамбургер-меню был над основным контентом */
    }

    .menu__item {
      display: block;
      padding: 12px 24px;
      color: #333;
      font-family: Fira Sans Condensed, sans-serif;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
      transition-duration: .25s;
    }

    .menu__item:hover {
      background-color: #CFD8DC;
    }
    .second-column{
        font-size: 16px;
    }
    @media (max-width: 1250px) {
        .footer_div{
            width: auto;
        }

    }
    /* Медиа-запросы */
    @media (max-width: 1000px) {
        .navbar > ul {
            display: none; /* Скрываем основное меню на маленьких экранах */
        }

        .menu__btn {
            display: block; /* Показываем кнопку гамбургера на маленьких экранах */
        }
        .header{
            zoom:150%
        }
        .products{
            width: 100%;
            zoom:200%
        }
        .forma-filter{
            zoom: 160%;
            width: 95%;
        }
        footer img{
            display: none;
        }
        footer{
            zoom:150%
        }
        .footer_div{
            width: 85%;
        }
        .column a{
            width: auto;
            font-size: 18px;
        }
        .column strong{
            font-size: 30px;
        }

        .second-column{
            font-size: 18px;
        }
    }

    @media (min-width: 1001px) {
        .hamburger-menu {
            display: none; /* Скрываем гамбургер-меню на больших экранах */
        }
    }




</style>

    <title>Продукция</title>
    <div class="header" style="display: flex">
        <div class="logo">
                <a href="{% url 'login' %}"><img src="{% static 'Logo.svg' %}"></a>
        </div>
        <div class="navbar">
            <ul>
                <li>
                    <div class="main">
                        <a href="{% url 'login' %}" >Главная</a>
                    </div>
                </li>
                <li>
                    <div class="about-us">
                        <a href="{% url 'about_us' %}">О нас</a>
                    </div>
                </li>
                <li>
                    <div class="production">
                        <a href="{% url 'market' %}" style="color: var(--main-green-dark, #8B8D68); text-decoration-line: underline;">Продукция</a>
                    </div>
                </li>
                <li>
                    <div class="our-farm">
                        <a href="{% url 'farm' %}">Наши хозяйства</a>
                    </div>
                </li>
                <li>
                    <div class="invite">
                        <a href="{% url 'join'%}">Вступить</a>
                    </div>
                </li>
                <li>
                    <div class="contacts">
                        <a href="{% url 'contacts'%}">Контакты</a>
                    </div>
                </li>
            </ul>
            <div class="hamburger-menu">
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle">
                  <span style="margin-top: 10px;"></span>
                </label>
                <ul class="menu__box">
                    <li><a class="menu__item" href="{% url 'login' %}" >Главная</a></li>
                    <li><a class="menu__item" href="{% url 'about_us' %}">О нас</a></li>
                    <li><a class="menu__item" href="{% url 'market' %}" style="color: var(--main-green-dark, #8B8D68); text-decoration-line: underline;">Продукция</a></li>
                    <li><a class="menu__item" href="{% url 'farm' %}">Наши хозяйства</a></li>
                    <li><a class="menu__item" href="{% url 'join'%}">Вступить</a></li>
                    <li><a class="menu__item" href="{% url 'contacts'%}">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
    <form method="get" action="{% url 'market' %}" class="forma-filter">
        <!-- Скрытые поля -->
        <input type="hidden" name="hidden_region" value="{{ region }}">
        <input type="hidden" name="hidden_product_type" value="{{ product_type_filter }}">
        <input type="hidden" name="hidden_sub_product_type" value="{{ sub_product_type }}">
        <input type="hidden" name="hidden_price_order" value="{{ price_order }}">


        <!-- Сортировка по цене -->
        <label>Сортировка по цене:
            <select name="price_order" style="padding: 10px 15px; border: 1px solid #ccc; background-color: #f5f5f5; margin: 5px; cursor: pointer; transition: background-color 0.3s;">
                <option value="" {% if not price_order %}selected{% endif %}>Сортировка по цене</option>
                <option value="asc" {% if price_order == 'asc' %}selected{% endif %}>По возрастанию</option>
                <option value="desc" {% if price_order == 'desc' %}selected{% endif %}>По убыванию</option>
            </select>
        </label>

        <!-- Поле для поиска -->
        <input type="text" name="search" placeholder="Поиск продукции по категории" style="padding: 10px 15px; border: 1px solid #ccc; background-color: #f5f5f5; margin: 5px; cursor: pointer; transition: background-color 0.3s; width: 220px">

        <!-- Фильтр по регионам -->
        <div>Регион:
            <button type="button" data-toggle="region" class="filter-button" data-value="">Все регионы</button>
            {% for r in all_regions %}
                <button type="button" data-toggle="region" class="filter-button" data-value="{{ r }}" data-selected="false">{{ r }}</button>
            {% endfor %}
            <input type="hidden" name="region" value="{{ region }}">
        </div>


        <!-- Фильтр по типу продукции -->
        <div>Тип продукции:
            <button type="button" data-toggle="product_type" class="filter-button" data-value="" data-selected="false">Все</button>
            {% for type in product_types %}
                <button type="button" data-toggle="product_type" class="filter-button" data-value="{{ type.id }}" data-selected="false">{{ type.name }}</button>
            {% endfor %}
            <input type="hidden" name="product_type" value="{{ product_type_filter }}">
        </div>

        <!-- Фильтр по подтипу -->
        <div>Подтип продукции:
            <button type="button" data-toggle="sub_product_type" class="filter-button" data-value="" data-selected="false">Все подтипы</button>
            {% for subtype in subtypes %}
                <button type="button" data-toggle="sub_product_type" class="filter-button" data-value="{{ subtype.id }}" data-selected="false">{{ subtype.name }}</button>
            {% endfor %}
            <input type="hidden" name="sub_product_type" value="{{ sub_product_type }}">
        </div>

        <button type="submit" class="filter-button button-red">Применить фильтры</button>
    </form>
    <div class="products" style="display: flex; flex-wrap: wrap;  margin-left: auto; margin-right: auto">
    {% for product in products %}
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <h3>{{ product.product_type.name }}</h3>
                    <p>Регион: {{ product.region }}</p>
                    {% if product.product_photo %}
                        <img src="{{ product.product_photo.url }}" style="height: 200px; width: 300px" alt="Фото продукта">
                    {% endif %}
                    <p>Цена: {{ product.price }}</p>
                    {% if product.sub_product_type %}
                        <p>{{ product.sub_product_type.name }}</p>
                    {% endif %}
                </div>
                <div class="flip-card-back">
                    <p>Ферма: {{ product.farm }}</p>
                    <p>Телефон для связи: {{ product.contact_phone }}</p>
                    <p>Возраст: {{ product.age }}</p>
                    <p>Описание: {{ product.details }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

<footer>
        <div class="footer_div" style="margin-left: auto; margin-right: auto; display: flex; justify-content: space-between; max-width: 1380px;">
            <img src="{% static 'fulllogo.svg' %}" style="margin-right: 100px">

            <div class="footer-info" style="width: 653px; height: 138px; display: flex; justify-content: space-between">
                <!-- Колонка Продукция -->
                <div class="column" style="width: 158px; height: 111px">
                    <strong>Продукция</strong>
                    <a href="{% url 'market' %}?product_type=1">Племенные животные</a>
                    <a href="{% url 'market' %}?product_type=2">Товарное стадо</a>
                    <a href="{% url 'market' %}?product_type=3">Продукты переработки</a>
                </div>

                <!-- Колонка Компания -->
                <div class="column" style="margin-left: 100px; width: 109px; height: 138px">
                    <strong>Компания</strong>
                    <a href="{% url 'about_us' %}">О нас</a>
                    <a href="{% url 'farm' %}">Наши хозяйства</a>
                    <a href="{% url 'join' %}">Вступить</a>
                    <a href="{% url 'contacts' %}">Контакты</a>
                </div>

                <!-- Колонка Контакты -->
                <div class="column second-column" style="margin-left: 100px; width: 186px; height: 118px; color: #000; text-align: right; font-family: Fira Sans Condensed,sans-serif;font-style: normal; font-weight: 400; line-height: 108%;">
                    <strong>Контакты</strong>
                    <div align="right" style="width: 186px; ">Национальная ассоциация заводчиков герефордского скота</div>
                    <div align="right" style="margin-top: 10px">ул. 9 Января, 29, Оренбург</div>
                </div>
            </div>
        </div>
    </footer>








<script>
document.querySelectorAll('.filter-button').forEach(button => {
    button.addEventListener('click', () => {
        let targetType = button.getAttribute('data-toggle');

        if (button.getAttribute('data-value') === "") {
            // Если кликают по "Все", снимаем выделение со всех остальных кнопок
            document.querySelectorAll(`[data-toggle="${targetType}"]`).forEach(b => {
                b.setAttribute('data-selected', 'false');
                b.classList.remove('selected');
            });
            // И затем активируем кнопку "Все"
            button.classList.add('selected');
        } else {
            // Для всех остальных кнопок меняем их состояние
            let isSelected = button.getAttribute('data-selected') === 'true';
            button.setAttribute('data-selected', String(!isSelected));

            // Если какая-либо кнопка активирована, деактивируем кнопку "Все"
            let allButton = document.querySelector(`.filter-button[data-toggle="${targetType}"][data-value=""]`);
            allButton.classList.remove('selected');

            if (isSelected) {
                button.classList.remove('selected');
            } else {
                button.classList.add('selected');
            }
        }

        // Обновляем значение скрытого поля на основе выбранных кнопок
        let selectedValues = Array.from(document.querySelectorAll(`[data-toggle="${targetType}"].selected`)).map(b => b.getAttribute('data-value')).join(',');
        let hiddenField = document.querySelector('input[name="' + targetType + '"]');
        hiddenField.value = selectedValues;
    });
});

window.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('input[type="hidden"]').forEach(hiddenField => {
        let values = hiddenField.value.split(',');
        let targetType = hiddenField.getAttribute('name');

        if (!values[0]) {
            let defaultButton = document.querySelector(`.filter-button[data-toggle="${targetType}"][data-value=""]`);
            if (defaultButton) {
                defaultButton.classList.add('selected');
            }
        } else {
            values.forEach(value => {
                let button = document.querySelector(`.filter-button[data-toggle="${targetType}"][data-value="${value}"]`);
                if (button) {
                    button.classList.add('selected');
                }
            });
        }
    });
});

</script>


{% endblock %}