{% load static %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed&display=swap" rel="stylesheet">

  <style>

    @font-face {
        font-family: 'MorfinSans';
        src: url('/static/fonts/ofont.ru_MorfinSans.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    html {
    }
    body{
        margin: 0;
        padding: 0;
        zoom: 80%
    }
    @media (min-width: 1920px) {
        body {
            zoom: 100%;
        }
    }
    .header{
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
        width: 100%;
        height: 120px;
        background: #FFF;
        font-family: Fira Sans Condensed, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        position: sticky;
        top: 0;
        z-index: 15;
    }
    .navbar{
        display: flex;
        margin-bottom:auto;
        margin-top: auto;
        margin-left: auto;
        margin-right: 0;
        height: 25px;
        width: 823px;
    }
    ul{
        margin: 0;
        width: 100%;
        height: auto;
        display: flex;
        list-style-type: none;
    }
    ul li{
        margin-left: 30px;
    }
    .logo{
        margin-left: 111px;
        margin-top: auto;
        margin-bottom: auto;
    }

    a{
        color: black;
        text-decoration: none;
    }
    a:hover{
        cursor: pointer;
        color: var(--main-green-dark, #8B8D68);
        text-decoration-line: underline;
        transition: 0.5s;
    }
    footer{
        margin-bottom: 150px;
        margin-top: 150px;
        background-color: white;
        width: 100%;
        height: 165px;
        display: flex;
    }
    .footer_div{
        width: 75%;
    }
    .column {
        margin-top: 10px;
    }

    .column strong {
        display: block;
        margin-bottom: 14px;
        color: #000;
        text-align: right;
        font-family: MorfinSans,sans-serif;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 94.5%; /* 26.46px */
    }

    .column a {
        display: block;
        margin-bottom: 10px;
        text-decoration: none;
        color: #000;
        text-align: right;
        font-family: Fira Sans Condensed,sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 108%; /* 17.28px */
    }
    .column a:hover{
        color: var(--main-green-dark, #8B8D68);
        transition: 0.5s;
    }
         /* Гамбургер-меню стили */
    #menu__toggle {
      opacity: 0;
    }

    #menu__toggle:checked + .menu__btn > span {
      transform: rotate(45deg);
    }

    #menu__toggle:checked + .menu__btn > span::before {
      top: 0;
      transform: rotate(0deg);
    }

    #menu__toggle:checked + .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menu__box {
      right: 0 !important; /* Изменение с 'left' на 'right' */
    }

    .menu__btn {
      display: none; /* Сначала скрыть кнопку гамбургера */
      position: fixed;
      top: 60px;
      right: 60px; /* Изменение с 'left' на 'right' */
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 10;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #616161;
      transition-duration: .25s;
    }

    .menu__btn > span::before {
      content: '';
      top: -8px;
    }

    .menu__btn > span::after {
      content: '';
      top: 8px;
    }

    .menu__box {
      display: block;
      position: fixed;
      top: 0;
      right: -100%; /* Изменение с 'left' на 'right' */
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #fff;
      box-shadow: -2px 2px 6px rgba(0, 0, 0, .4); /* Изменение с '2px' на '-2px' */
      transition-duration: .25s;
      z-index: 5; /* Чтобы гамбургер-меню был над основным контентом */
    }

    .menu__item {
      display: block;
      padding: 12px 24px;
      color: #333;
      font-family: Fira Sans Condensed, sans-serif;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration: none;
      transition-duration: .25s;
    }

    .menu__item:hover {
      background-color: #CFD8DC;
    }
    .second-column{
        font-size: 16px;
    }

    /* wrapper */
.wrapper {
  width: 75%;
  max-width: 1380px;
  margin: 100px auto 100px auto;
  padding: 0;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  position: relative;
}

/* lists */
.row ul {
  margin: 0;
  padding: 0;overflow: hidden;
}
.row ul li {
    /*min-width: 140px;*/
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    list-style: none;
    display: inline-block;
    width: 70%;
    height: 20%;
    box-sizing: border-box;
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
  .row ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 479px) {
  .row ul li {
    font-size: 13px;
  }
}

.title ul li {
  padding: 15px 13px;
}
.row ul li {
  padding: 5px 10px;
}

/* rows */
.row {
  padding: 20px 0;
  height: 30px;
  font-size: 0;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-out;
  border-top: 1px solid #000; /* Значение darken(rgba(255, 255, 255, 0.1), 100%) */
}

.title {
  padding: 25px 0 5px 0;
  height: 45px;
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 3px solid #fff; /* Значение lighten(rgba(255, 255, 255, 0.1), 100%) */
}
.title:hover {
  height: 45px;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 3px solid #fff; /* Значение lighten(rgba(255, 255, 255, 0.1), 100%) */
}
.more-content {
    max-height: 0;
    display: none; /* Блок скрыт до наведения */
    position: absolute; /* Позиционируем абсолютно, чтобы он не занимал место в документе */
    width: 100%; /* Ширина блока равна ширине родительского элемента */
    bottom: 0; /* Располагаем блок внизу родительского элемента */
    left: 0; /* Выравниваем блок по левому краю родительского элемента */
    background-color: #8B8D68;; /* Фоновый цвет блока */
    color: #fff; /* Цвет текста блока */
    padding: 10px; /* Отступы внутри блока */
    box-sizing: border-box; /* Чтобы внутренние отступы не влияли на общую ширину блока */
    z-index: 10; /* Указываем z-index, чтобы блок оказался поверх основного содержимого */
    transition: max-height 0.5s ease-out;
    overflow: hidden;
}
.row:hover .more-content {
  display: block; /* Показываем блок при наведении */
}
.farm-container {
  transition: all 0.2s ease-out;
}
    @media (max-width: 1250px) {
        .footer_div{
            width: auto;
        }

    }
    /* Медиа-запросы */
    @media (max-width: 1000px) {
        .navbar > ul {
            display: none; /* Скрываем основное меню на маленьких экранах */
        }

        .menu__btn {
            display: block; /* Показываем кнопку гамбургера на маленьких экранах */
        }
        .header{
            zoom:150%
        }
        .wrapper{
            zoom: 150%;
            width: 100%;
        }

        footer img{
            display: none;
        }
        footer{
            zoom:150%
        }
        .footer_div{
            width: 85%;
        }
        .column a{
            width: auto;
            font-size: 18px;
        }
        .column strong{
            font-size: 30px;
        }

        .second-column{
            font-size: 18px;
        }
    }

    @media (min-width: 1001px) {
        .hamburger-menu {
            display: none; /* Скрываем гамбургер-меню на больших экранах */
        }
    }

    /* Google fonts - Open Sans */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* body */
body {

}







</style>

<title>Наши хозяйства</title>
<div class="header" style="display: flex">
    <div class="logo">
        <a href="{% url 'login' %}"><img src="{% static 'Logo_original 2.svg' %}"></a>
    </div>
    <div class="navbar">
        <ul>
            <li>
                <div class="main">
                    <a href="{% url 'login' %}" >Главная</a>
                </div>
            </li>
            <li>
                <div class="about-us">
                    <a href="{% url 'about_us' %}">О нас</a>
                </div>
            </li>
            <li>
                <div class="production">
                    <a href="{% url 'market' %}" >Продукция</a>
                </div>
            </li>
            <li>
                <div class="our-farm">
                    <a href="{% url 'farm' %}" style="color: var(--main-green-dark, #8B8D68); text-decoration-line: underline;">Наши хозяйства</a>
                </div>
            </li>
            <li>
                <div class="invite">
                    <a href="{% url 'join'%}">Вступить</a>
                </div>
            </li>
            <li>
                <div class="contacts">
                    <a href="{% url 'contacts'%}">Контакты</a>
                </div>
            </li>
        </ul>
        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
              <span style="margin-top: 10px;"></span>
            </label>
            <ul class="menu__box">
                <li><a class="menu__item" href="{% url 'login' %}" >Главная</a></li>
                <li><a class="menu__item" href="{% url 'about_us' %}">О нас</a></li>
                <li><a class="menu__item" href="{% url 'market' %}" >Продукция</a></li>
                <li><a class="menu__item" href="{% url 'farm' %}" style="color: var(--main-green-dark, #8B8D68); text-decoration-line: underline;">Наши хозяйства</a></li>
                <li><a class="menu__item" href="{% url 'join'%}">Вступить</a></li>
                <li><a class="menu__item" href="{% url 'contacts'%}">Контакты</a></li>
            </ul>
        </div>
    </div>
</div>
<section class="wrapper" style="color: black">
    <!-- Row title -->
    <main class="row title" style="font-family: MorfinSans,sans-serif;font-style: normal; font-weight: 300;">
        <ul>
            <li style="font-family: MorfinSans,sans-serif;font-style: normal; font-weight: 300; font-size: 26px">Название</li>
            <li style="font-family: MorfinSans,sans-serif;font-style: normal; font-weight: 300; font-size: 26px">Телефон</li>
            <li style="font-family: MorfinSans,sans-serif;font-style: normal; font-weight: 300; font-size: 26px">Адрес</li>
            <li style="font-family: MorfinSans,sans-serif;font-style: normal; font-weight: 300; font-size: 26px">Регион</li>
            <li style="font-family: MorfinSans,sans-serif;font-style: normal; font-weight: 300; font-size: 26px">Сайт</li>
        </ul>
    </main>
    <!-- Data Rows -->
    {% for farm in farms %}
    <div class="farm-container">
        <article class="row farm-entry" style="height: auto; font-family: Fira Sans Condensed,sans-serif;font-style: normal; font-weight: 400">
            <ul>
                <li>{{ farm.name }}</li>
                <li>{{ farm.contact_phone }}</li>
                <li>{{ farm.address }}</li>
                <li>{{ farm.region }}</li>
                <li>
                    {% if farm.website and farm.website != "-" %}
                        <a href="http://{{ farm.website }}">{{ farm.website }}</a>
                    {% else %}
                        <a href="{% url 'download_pdf' farm.id %}">PDF страница</a>
                    {% endif %}
                </li>
            </ul>
        </article>
        <div class="more-content">
            <!-- Скрытое содержимое, которое появится при клике -->
            <p>{{ farm.description }}</p>
        </div>

    </div>
    {% endfor %}
</section>

<script>
// При загрузке документа
document.addEventListener('DOMContentLoaded', function() {
  // Находим все .farm-container и вешаем на них обработчик событий
  document.querySelectorAll('.farm-container').forEach(function(container) {
    container.addEventListener('click', function() {
      // При клике на контейнер, переключаем класс 'active'
      this.classList.toggle('active');
    });
  });
});
</script>

<footer>
        <div class="footer_div" style="margin-left: auto; margin-right: auto; display: flex; justify-content: space-between; max-width: 1380px;">
            <img src="{% static 'nazgslogo.svg' %}" style="margin-right: 100px">

            <div class="footer-info" style="width: 653px; height: 138px; display: flex; justify-content: space-between">
                <!-- Колонка Продукция -->
                <div class="column" style="width: 158px; height: 111px">
                    <strong>Продукция</strong>
                    <a href="{% url 'market' %}?product_type=1">Племенные животные</a>
                    <a href="{% url 'market' %}?product_type=2">Товарное стадо</a>
                    <a href="{% url 'market' %}?product_type=3">Продукты переработки</a>
                </div>

                <!-- Колонка Компания -->
                <div class="column" style="margin-left: 100px; width: 109px; height: 138px">
                    <strong>Компания</strong>
                    <a href="{% url 'about_us' %}">О нас</a>
                    <a href="{% url 'farm' %}">Наши хозяйства</a>
                    <a href="{% url 'join' %}">Вступить</a>
                    <a href="{% url 'contacts' %}">Контакты</a>
                </div>

                <!-- Колонка Контакты -->
                <div class="column second-column" style="margin-left: 100px; width: 186px; height: 118px; color: #000; text-align: right; font-family: Fira Sans Condensed,sans-serif;font-style: normal; font-weight: 400; line-height: 108%;">
                    <strong>Контакты</strong>
                    <div align="right" style="width: 186px; ">Национальная ассоциация заводчиков герефордского скота</div>
                    <div align="right" style="margin-top: 10px">ул. 9 Января, 29, Оренбург</div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}